@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans bg-white text-gray-800 dark:bg-gray-900 dark:text-gray-200;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-8px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

.slider-primary {
  accent-color: #06b6d4; /* Using the hex code for primary blue */
}